.Section h3 {
  display: flex;
}

.Section hr {
  border-color: black;
  border-radius: 50%;
}

.Option {
  display: flex;
  align-items: center;
  padding-left: 6px;
  padding-bottom: 4px;
}

.plainButton {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

#scaleRange {
  direction: rtl;
}
